<header>

    <nav class="navbar navbar-default navbar-top" role="navigation">
        <div class="container">
            
			<a class="navbar-brand" href="/">
                <img alt="Enclave" src="/img/enclave-logo.png">    
			</a>

			<div class="navbar-header">
                <button type="button" class="fa fa-bars navbar-toggle " data-toggle="collapse" data-target="#navbar-main" aria-hidden="true" ></button>
			</div>

            <div id="navbar-main" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="expandable">
                        <span href="https://docs.enclave.io">Solutions <i></i></span>
                        <div class="submenu">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="section-title hide-on-mobile">Solutions</div>
                                        <div class="section-summary section-summary-docs hide-on-mobile">Simplify, secure and automate connectivity at scale. From individuals to enterprise, every network can benefit from Enclave.</div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="column-heading hide-on-mobile">BY INDUSTRY</div>
                                        <ul>
                                            <li><a href="https://enclave.io/">Managed Service Providers <i></i></a></li>
                                            <li><a href="https://enclave.io/">Managed Security Service Providers <i></i></a></li>
                                            <li><a href="https://enclave.io/">Financial and Professional Services <i></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="column-heading hide-on-mobile">BY ROLE</div>
                                        <ul>
                                            <li><a href="https://enclave.io/">For CISOs <i></i></a></li>
                                            <li><a href="https://enclave.io/">For IT Management <i></i></a></li>
                                            <li><a href="https://enclave.io/">For DevOps Practitioners <i></i></a></li>
                                            <li><a href="https://enclave.io/">For System Administrators and SREs <i></i></a></li>
                                            <li><a href="https://enclave.io/">For Developers <i></i></a></li>
                                            <li><a href="https://enclave.io/">For Systems Architects <i></i></a></li>
                                            <li><a href="https://enclave.io/">For Individuals <i></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="expandable">
                        <span href="https://docs.enclave.io">Company <i></i></span>
                        <div class="submenu">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="section-title hide-on-mobile">Company</div>
                                        <div class="section-summary section-summary-docs hide-on-mobile">We're not here to build you a better network, we're here to get the network out of your way.</div>
                                    </div>
                                    <div class="col-md-7">
                                        <ul>
                                            <li><a href="https://enclave.io/">About Us <i></i></a></li>
                                            <li><a href="https://enclave.io/">Careers <i></i></a></li>
                                            <li><a href="https://enclave.io/">Customer Agreement <i></i></a></li>
                                            <li><a href="https://enclave.io/">Terms and Conditions <i></i></a></li>
                                            <li><a href="https://enclave.io/">Privacy Policy <i></i></a></li>
                                            <li><a href="https://enclave.io/">Cookie Policy <i></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">Pricing</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li class="active">
                        <a href="#">Docs</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
					<li><a class="btn-login" target="_blank" href="https://portal.enclave.io">Log in</a></li>
                    <li><a class="btn-download" target="_blank" href="https://portal.enclave.io/account/register">Get Started</a></li>
				</ul>
            </div>
        </div>
    </nav>
</header>

<script>
    
    window.addEventListener('DOMContentLoaded', function() 
    {
        $(document).ready(function() 
        {
            $('nav .expandable').click(function(e) {

                // disable hover action on collapsed mobile menu
                if ($( document ).width() <= 991) return;

                // show/hide submenu toggle
                $('.submenu', this).toggle();

                var item = $(this).find(':first-child').first();
                if (item.hasClass('active'))
                {
                    // remove hover styling for all menu items
                    $('.submenu').prev().removeClass('active');
                    $('.submenu').stop().hide();
                }
                else
                {
                    // remove hover styling for all menu items
                    $('.submenu').prev().removeClass('active');
                    $('.submenu').stop().hide();

                    // add hover styling to this menu item
                    item.addClass('active');
                    $('.submenu', this).stop().show();
                }
            });
            
            $(window).scroll(function() {

                var offset = 66 - $(document).scrollTop();

                $('.submenu').css("top", offset + "px");
                $('.submenu').prev().removeClass('active');
                $('.submenu').stop().hide();
            });
        });
    });

</script>