<header>
	<nav class="navbar navbar-default navbar-top" role="navigation">
		<div class="container">

			<a class="navbar-brand" href="https://enclave.io">
                <img alt="Enclave" src="/img/enclave-header-logo.png">    
			</a>

			<div class="navbar-header">
                <button type="button" class="fa fa-bars navbar-toggle " data-toggle="collapse" data-target="#navbar-main" aria-hidden="true" ></button>
			</div>

			<div id="navbar-main" class="navbar-collapse navbar-right collapse">
				<ul class="nav navbar-nav">
                    <li class="expandable">
                        <span class="active">Docs <i></i></span>
                        <div class="submenu">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="section-title hide-on-mobile">Docs</div>
                                        <div class="section-summary section-summary-docs hide-on-mobile">Everything you need to get up and running quickly, from quickstart guides and deployment best practices to security documentation and API integration tutorials.</div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="column-heading hide-on-mobile">Get Started</div>
                                        <ul>
                                            <li><a href="/guides/quick-start">Quick Start Guide <i></i> <span class="hide-on-mobile">Linux and Windows guide to help get your first network up and running quickly.</span></a></li>
                                            <li><a href="/handbook/">Enclave handbook <i></i> <span class="hide-on-mobile">Learn how to install, run and connect systems together securely using Enclave.</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 grey-background">
                                        <div class="column-heading hide-on-mobile">Resources</div>
                                        <ul>
                                            <li><a href="/api/">API documentation <i></i> <span class="hide-on-mobile">Integrate, control and extend Enclave networks through APIs and automation.</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                    </li>
                    <li class="expandable">
                        <span>About us <i></i></span>
                        <div class="submenu">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="section-title hide-on-mobile">About Us</div>
                                        <div class="section-summary section-summary-about hide-on-mobile">We're here to get the network out of your way, transforming it from an innovation barrier into an innovation enabler.</div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="column-heading hide-on-mobile">Who we are</div>
                                        <ul>
                                            <li><a href="https://enclave.io/about">Company <i></i></a></li>
                                            <li><a href="https://enclave.io/careers">Careers <i></i> <span class="alert hide-on-mobile">we're hiring!</span></a></li>
                                            <li><a href="https://enclave.io/about/roadmap">Roadmap <i></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 grey-background">
                                        <div class="column-heading hide-on-mobile">Legal &amp; How we handle data</div>
                                        <ul>
                                            <li><a href="https://enclave.io/policy/customer-agreement">Customer Agreement <i></i></a></li>
                                            <li><a href="https://enclave.io/policy/privacy">Privacy Policy <i></i></a></li>
                                            <li><a href="https://enclave.io/policy/terms-and-conditions">Terms and Conditions <i></i></a></li>
                                            <li><a href="https://enclave.io/policy/acceptable-use">Acceptable Usage <i></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li div class="divider hide-on-mobile"></li>
					<li><a class="btn-login" target="_blank" href="https://portal.enclave.io">Log in</a></li>
                    <li><a class="btn-download" target="_blank" href="https://portal.enclave.io/account/register">Get Started</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<script>
    
    window.addEventListener('DOMContentLoaded', function() 
    {
        $(document).ready(function() 
        {
            $('nav .expandable').click(function() 
            {
                // disable click action on desktop menu
                if ($( document ).width() > 991) return;

                $('.submenu', this).toggle();
                $(this).find(':first-child').first().toggleClass('hover');
            });

            $('nav .expandable').hover(
                function() {
                    // disable hover action on collapsed mobile menu
                    if ($( document ).width() <= 991) return;

                    // style menu item
                    $(this).find(':first-child').first().addClass('hover');

                    // show sub-menu
                    $('.submenu', this).stop().show();
                },
                function() {
                    // disable hover action on collapsed mobile menu
                    if ($( document ).width() <= 991) return;

                    // un-style menu item
                    $(this).find(':first-child').first().removeClass('hover'); 

                    // hide sub-menu
                    $('.submenu', this).stop().hide();
                }
            );

            $(window).scroll(function() {

                var offset = 70 - $(document).scrollTop();

                $('.submenu').css("top", offset + "px");
                $('.submenu').stop().hide();
            });
        });
    });

</script>