---
layout: layout-page-docs-index-page-no-toc
css-section: docs-handbook
title: "Enclave Handbook"
subtitle: "In-depth guide to Enclave"
---

<section id="section-troubleshooting-index-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>{{page.title}}</h1>

                <blockquote>
                    <p><strong>Please note:</strong> We are actively working to develop and improve the content in this part of our documentation. If you have a question which our documentation doesn't currently address please contact us by emailing <a href="mailto:support@enclave.io">support@enclave.io</a>.</p>
                </blockquote>

                <ul>
                    <li><a href="/guides/quick-start">Getting started</a></li>

                    <li><a href="/handbook/how-enclave-works">How Enclave works</a></li>

                    <li><a href="/handbook/community">Community and support</a></li>

                    <li><strong></strong>Glossary</li>

                    <li><strong>Installing, Running, Updating and Uninstalling the Enclave Fabric</strong></li>
                        <ul>
                            <li><a href="/handbook/install/windows">Windows</a></li>
                            <li><a href="/handbook/install/ubuntu">Ubuntu</a></li>
                            <li><a href="/handbook/install/centos">CentOS</a></li>
                            <li><a href="/handbook/install/arch-linux">Arch Linux</a></li>
                            <li><a href="/handbook/install/raspbian">Raspbian</a></li>
                            <li><a href="/handbook/install/docker">Docker</a></li>
                            <li><a href="/handbook/install/kubernetes">Kubernetes</a></li>
                            <li><a href="/handbook/install/synology-nas">Synology NAS</a></li>
                            <li><a href="/handbook/install/test-connection">Testing your connection</a> (http://connection-test.enclave/?)</li>
                        </ul>
                    </li>

                    <li><strong>Managing Enclave</strong>
                        <ul>
                            <li><a href="/handbook/portal/key-concepts">Key concepts</a> (centrally vs. locally managed)</li>
                            <li><a href="/handbook/portal/enrolment-keys">Enrolment keys</a> (how do we make them, why do we make them, how do we name them)</li>
                            <li><a href="/handbook/portal/tags">Tags</a></li>
                            <li><a href="/handbook/portal/policies">Policies</a></li>
                        </ul>
                    </li>

                    <li><strong>Billing, Account Settings and Organisations</strong>
                        <ul>
                            <li><a href="/handbook/account/ownership-transfer-and-closure">Account ownership, transfer and closure</a></li>
                            <li><a href="/handbook/portal/enrolment-keys">Enrolment keys</a></li>
                            <li><a href="/handbook/portal/tags">Tags</a></li>
                            <li><a href="/handbook/portal/policies">Policies</a></li>
                            <li><a href="/handbook/portal/custom-dns">Custom DNS</a></li>
                        </ul>
                    </li>

                    <li><strong>Security</strong>
                        <ul>
                            <li><a href="https://enclave.io/policy/vulnerability-disclosure-policy/">Vulnerability disclosure policy</a></li>        
                            <!--
                            <li>Software deployment</li>
                            <li>Patch management</li>
                            <li>Configuration and integrity management</li>
                            <li>Data retention and backup</li>
                            <li>Directory services integration</li>
                            <li>Firewall configuration requirements</li>
                            <li>Endpoint detection and response solution integration</li>
                            <li>Certificate authority</li>
                            <li>Single sign on</li>
                            <li>Multi-factor and context based authentication</li>
                            <li>Network micro-segmentation</li>
                            <li>Host firewall configuration</li>
                            <li>Data in-motion encryption</li>
                            <li>Role based access control (RBAC)</li>
                            <li>Network access control</li>
                            <li>Logging and auditing</li>
                            <li>Data loss prevention</li>
                            <li>Security and incident event management</li>
                            <li>Reporting vulnerabilities</li>
                            -->
                        </ul>
                    </li>

                    <li><strong>Enclave Fabric Internals</strong>
                        <ul>
                            <li><a href="/handbook/fabric/internals/architecture">Architecture</a></li>
                            <li>Configuration files</li>
                            <li>Telemetry</li>
                            <li>Connectivity requirements</li>
                            <li>Runtime security considerations</li>
                            <li>End-to-end encryption and key management</li>
                            <li>Threat model</li>
                            <li>Internal timers and events</li>
                            <li>NAT and UDP/TCP hole punching</li>
                            <li>Certificates, expiry and revocation</li>
                            <li>Private IP addressing</li>
                            <li>Safe ARP and ARP poisoning protections</li>
                            <li>Local domain name server</li>
                            <li>DNS forwarding</li>
                            <li>Multicast traffic</li>
                        </ul>
                    </li>

                    <li><strong>Protocol</strong>
                        <ul>
                            <li>Specification</li>
                        </ul>
                    </li>

                    <li><strong>Enclave Fabric Commands (CLI)</strong>
                        <ul>
                            <li>enrol</li>
                            <li><a href="/handbook/fabric/cli/start">start</a></li>
                            <li>stop</li>
                            <li>status</li>
                            <li>add</li>
                            <li>remove</li>
                            <li>enable</li>
                            <li>disable</li>
                            <li>help</li>
                            <li>version</li>
                            <li>list-adapters</li>
                            <li>install-adapter</li>
                            <li>remove-adapter</li>
                        </ul>
                    </li>
                </ul>

                <h2>Knowledge Base</h2>

                <ul>
                    {% for page in site.pages %}
                        {% if page.path contains "kb/index" %}{% continue %}{% endif %}
                        {% if page.path contains ".draft" %}{% continue %}{% endif %}
                        {% if page.path contains "kb/" %}
                            <li>
                                <a href="{{page.url}}">{{page.title}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <h2>Tutorials and Guides</h2>

                <ul>
                    {% for page in site.pages %}
                        {% if page.path contains "api/" %}{% continue %}{% endif %}
                        {% if page.path contains "handbook/" %}{% continue %}{% endif %}
                        {% if page.path contains "kb/" %}{% continue %}{% endif %}
                        {% if page.path contains "protocol/" %}{% continue %}{% endif %}
                        {% if page.path contains "troubleshooting/" %}{% continue %}{% endif %}
                        {% if page.path contains ".draft" %}{% continue %}{% endif %}
                        {% if page.path contains "/" %}
                            {% if page.path contains ".md" %}
                                <li>
                                    <a href="{{page.url}}">{{page.title}}</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>

                <h2>Troubleshooting</h2>

                <ul>
                    {% for page in site.pages %}
                        {% if page.path contains "troubleshooting/index" %}{% continue %}{% endif %}
                        {% if page.path contains ".draft" %}{% continue %}{% endif %}
                        {% if page.path contains "troubleshooting/" %}
                            <li>
                                <a href="{{page.url}}">{{page.title}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
</section>
